<!-- Home Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Player Info</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="team_stats.html">Season Stats <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="player_info.html">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
	<div class="container">
		<h1>Welcome to CU BUFFS</h1>
    <a href = "https://cubuffs.com/"> </a>
    <div class="media">
  <img src="../resources/img/image.jpeg" alt="" width="600" height="450">
  <div class="media-body">
    <h5 class="mt-0">Joshua Rymkiewicz Page</h5>
    <p> BOULDER – Soccer's Taylor Kornieck and football's Tony Brown were named the CU Athletes of the Week, presented by Arrow, for the week of Sept. 16-22.

Kornieck, a senior from Henderson, Nev., recorded six points in two games for Colorado this past week, helping lead the Buffs to a 2-0 record. The midfielder sparked the Buffs early on against Northern Colorado, scoring the first two goals of the match. She added an assist on Tessa Barton's goal, CU's third of the first half. Kornieck had five points in the first 45 minutes, matching her career-best. It was also the third-most by a Buff in a single half.

Kornieck registered another assist in CU's 2-0 win over Denver on Saturday. It was her fifth of the season and the 23rd of her career. She is now one assist shy of tying Fran Munnelly for first in CU history. The Buffs' captain now has 17 points on the season (6 G, 5 A) and has picked up at least a point in the last four matches.

Brown, a senior from Mirada, Calif., helped lead the Buffs their first-ever win on the road at Arizona State, 34-31. The wide receiver set career-highs with nine receptions for 150 yards and three touchdowns. It also marked Brown's first-ever 100-yard game. Only three other Colorado players have caught three touchdowns in a game, the last being Shay Fields against Oregon State in 2016. With his breakout game, Brown moved from 84th to 59th on CU's all-time receiving yards list with 634 career yards. </p>
    <p> https://cubuffs.com/news/2019/9/24/football-kornieck-and-brown-named-cu-athletes-of-the-week-presented-by-arrow.aspx </p>

  </div>
</div>


  </div>
</div>

		-->
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
